 /* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family: 'Open Sans', sans-serif;
	font-size:100%;
}
.wrap{
	width: 80%;
	margin: 0 auto;
}

.header-bg{
	background:#fff;
	border-top:10px solid #E44A4A;
}
.header{
	padding: 2%;
}

/*--start-div-hidden--*/
.hidden {

}

.visible {
	
}

/*--end-div-hidden--*/

.intro p {
	color:#A8A8A8;
	line-height: 1.6em;
	font-size: 1.8em;
}

/*--end-page-divs--*/

/*---start-nav---*/
.nav{
	float: left;
}
.nav ul li
{
	float:left;
	padding: 43px 25px;
}
.nav ul li.a
{
	float:left;
	padding: 43px 25px 43px 0px;
}
.nav ul li a
{
	font-size: 1.3em;
	color: #A8A8A8;
	-webkit-text-stroke:1px;
	display: block;
	-webkit-transition: 0.5s linear;
	-moz-transition: 0.5s linear;
	-ms-transition: 0.5s linear;
	-o-transition: 0.5s linear;
	transition: 0.5s linear;
}
.nav ul li a:hover
{
	color:#717171;
}
.nav ul li a.active{
	border-bottom: 3px solid #E44A4A;	
	color:#717171;
}
/*---end_nav---*/

.footer-middle h6 a:hover{
	color:#BBBBBB;
}
.footer-bg{
	background:#fff;
}
.social-icons {
	float:right;
}
.social-icons li {
	display:inline-block;
	width: 55px;
	height: 55px;
	cursor:pointer;
	margin-right: 4px;
}

.footer-bottom {
	padding: 2em 0;
}

/*--project-cards--*/
.cardLayout {
	margin-bottom: 20px;
	position: relative;
	text-align: center
}

.cardLayout .card {
	display: inline-block;
	margin: 30px;
	position: relative;
	width: 300px;
	height: 300px;
	overflow: hidden;
	text-align: center;
	border-radius: 5px;
	color: #fff;
	-webkit-transition: -webkit-transform 200ms;
	transition: transform 200ms;
	background-color: red
}
@media not all and (min-width: 1000px) {
	.cardLayout .card {
	    margin: 15px 30px;
	    width: -webkit-calc(100% - 60px);
	    width: calc(100% - 60px)
    }

}
@media (min-width: 600px) {
    .cardLayout .card {
	    width: 300px;
	    margin: 30px
    }

}
.cardLayout .card:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1)
}
.cardLayout .card .photo {
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	margin: auto;
	width: 140px
}
.cardLayout .card .textArea {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: left;
	padding: 10px 10px 20px
}
.cardLayout .card .textArea .title {
	font-size: 12px;
	font-weight: 700;
	padding-bottom: 10px;
	-webkit-transition: color 200ms;
	transition: color 200ms
}

.cardLayout .card .textArea .description {
	font-size: 12px;
	line-height: 1.5
}

.cardLayout .card#sightseeio {
	background-color: #e44a4a;
}
.cardLayout .card#sightseeio .textArea {
	background-color: #b62727;
}
.cardLayout .card#codesnippets {
	background-color: #435d77;
}
.cardLayout .card#codesnippets .textArea {
	background-color: #2f4153;
}
.cardLayout .card#idrive {
	background-color: #358d39;
}
.cardLayout .card#idrive .textArea {
	background-color: #215824;
}
.cardLayout .card#waldo {
	background-color: #64299f;
}
.cardLayout .card#waldo .textArea {
	background-color: #4a2371;
}
.cardLayout .card#cube {
	background-color: #ffa500;
}
.cardLayout .card#cube .textArea {
	background-color: #e8a317;
}

/*--project-page-bars--*/
.squareTile{
	position:relative;
	width:100%;
	border-radius:5%;
	overflow:hidden;
    max-width: 200px
}

.squareTile:before{
	content:"";
	display:block;
	padding-top:100%
}

.squareTile .content{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	border-radius:5%;
	overflow:hidden;
    max-width: 200px;
    width:100%;
}

.squareTile .svg{
	width:100%;
	height:100%
}

.wrap#experience {
	width: 90%;
}


@media not all and (min-width:1000px){
    .experienceList>li{
		margin:0 auto;
		width:100%
	}
}

.experienceList>li{
	overflow:hidden;
	border-radius:10px;
	padding:20px
}

.experienceList>li .iconArea{
		float:left;
}

@media all and (min-width:1000px){

	.experienceList > li {
		padding-left: 20%
	}

	.experienceList>li .iconArea{
		width:160px;
		padding:20px
	}
}

@media not all and (min-width:1000px){
	.experienceList>li .iconArea{
		width:100%;
		max-width:160px;
		margin:0 auto
	}
}

.experienceList>li .descriptionArea{
	line-height:2;
    float: right;
}

@media all and (min-width:1000px){
    .experienceList>li .descriptionArea{
		width:760px
	}
}

@media not all and (min-width:1000px){
    .experienceList>li .descriptionArea{
		width:100%;
		padding-top:10px
	}
}
.experienceList >li .descriptionArea a {
	color:#91cfd7
}
.experienceList>li .descriptionArea .titleBar{
	position:relative;
	padding-bottom:.5%;
	overflow:hidden
}
.experienceList>li .descriptionArea .titleBar .title{
	font-weight:700;
	float:left;
	font-size:26px;
    color: #A8A8A8
}
.experienceList>li .descriptionArea .titleBar .dateRange{
	padding-top:11px;
	float:right;
	font-size:16px;
    color: #A8A8A8
}
.experienceList>li .description {
    color: #A8A8A8
}

@media not all and (min-width:1000px){
    .experienceList>li .descriptionArea .titleBar .dateRange{
		padding-top:0;
		float:left
	}

}

@media (min-width:600px){
	.experienceList>li .descriptionArea .titleBar .dateRange{
		float:right
	}

}
.experienceList >li .descriptionArea .descriptio.experienceList>li .descriptionArea .descriptionBullets{
	font-size:16px;
	list-style:disc inside
}
.experienceList>li .descriptionArea{
	float:left
}

/*---start-media-queries---*/
@media only screen and (max-width: 1440px){
	.wrap{
		width:67%;
	}
	
}
@media only screen and (max-width: 1366px){
	.wrap{
		width:71%;
	}
}

@media only screen and (max-width: 1280px){
	.wrap{
		width: 75%;
	}
}
@media only screen and (max-width: 1024px){
	.wrap{
		width: 95%;
	}
}
@media only screen and (max-width: 800px){
	.nav ul li a {
		font-size: 1em;
        text-decoration: none;
	}
}
@media only screen and (max-width: 640px){

	.nav ul li a {
		font-size: 0.9em;
        text-decoration: none;
	}
	.nav ul li {
		padding: 43px 12px;
	}
}
@media only screen and (max-width: 480px){

	.nav ul li a {
		font-size: 0.9em;
	}
	.nav ul li {
		padding: 43px 6px;
	}
}

h1 {
	font-weight: bold;
	color: #606060;
	font-size: 32px;
}
