 /*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
 /* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family: 'Open Sans', sans-serif;
	font-size:100%;
}
.wrap{
	width: 80%;
	margin: 0 auto;
}
.header-bg{
	background:#fff;
	border-top:10px solid #E44A4A;
}
.header{
	padding: 2%;
}

/*--start-div-hidden--*/
.hidden {

}

.visible {
	
}

/*--end-div-hidden--*/

.intro p {
	color:#A8A8A8;
	line-height: 1.6em;
	font-size: 1.5em;
}

/*--end-page-divs--*/

/*---start-nav---*/
.nav{
	float: left;
}
.nav ul li
{
	float:left;
	padding: 43px 25px;
}
.nav ul li.a
{
	float:left;
	padding: 43px 25px 43px 0px;
}
.nav ul li a
{
	font-size: 1.3em;
	color: #A8A8A8;
	-webkit-text-stroke:1px;
	display: block;
	-webkit-transition: 0.5s linear;
	-moz-transition: 0.5s linear;
	-ms-transition: 0.5s linear;
	-o-transition: 0.5s linear;
	transition: 0.5s linear;
}
.nav ul li a:hover
{
	color:#717171;
}
.nav ul li a.active{
	border-bottom: 3px solid #E44A4A;	
	color:#717171;
}
/*---end_nav---*/

.footer-middle h6 a:hover{
	color:#BBBBBB;
}
.footer-bg{
	background:#fff;
}
.social-icons {
	float:right;
}
.social-icons li {
	display:inline-block;
	width: 55px;
	height: 55px;
	cursor:pointer;
	margin-right: 4px;
}

.footer-bottom {
	padding: 2em 0;
}

/*--project-cards--*/
.cardLayout {
	margin-bottom: 20px;
	position: relative;
	text-align: center
}

.cardLayout .card {
	display: inline-block;
	margin: 30px;
	position: relative;
	width: 300px;
	height: 300px;
	overflow: hidden;
	text-align: center;
	border-radius: 5px;
	color: #fff;
	-webkit-transition: -webkit-transform 200ms;
	transition: transform 200ms;
	background-color: red
}
@media not all and (min-width: 1000px) {
	.cardLayout .card {
	    margin: 15px 30px;
	    width: -webkit-calc(100% - 60px);
	    width: calc(100% - 60px)
    }

}
@media (min-width: 600px) {
    .cardLayout .card {
	    width: 300px;
	    margin: 30px
    }

}
.cardLayout .card:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1)
}
.cardLayout .card .photo {
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	margin: auto;
	width: 140px
}
.cardLayout .card .textArea {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: left;
	padding: 10px 10px 20px
}
.cardLayout .card .textArea .title {
	font-size: 12px;
	font-weight: 700;
	padding-bottom: 10px;
	-webkit-transition: color 200ms;
	transition: color 200ms
}

.cardLayout .card .textArea .description {
	font-size: 12px;
	line-height: 1.5
}

.cardLayout .card#sightseeio {
	background-color: #e44a4a;
}
.cardLayout .card#sightseeio .textArea {
	background-color: #b62727;
}
.cardLayout .card#codesnippets {
	background-color: #435d77;
}
.cardLayout .card#codesnippets .textArea {
	background-color: #2f4153;
}
.cardLayout .card#idrive {
	background-color: #358d39;
}
.cardLayout .card#idrive .textArea {
	background-color: #215824;
}
.cardLayout .card#waldo {
	background-color: #64299f;
}
.cardLayout .card#waldo .textArea {
	background-color: #4a2371;
}

/*---start-media-queries---*/
@media only screen and (max-width: 1440px){
	.wrap{
		width:67%;
	}
	
}
@media only screen and (max-width: 1366px){
	.wrap{
		width:71%;
	}
}

@media only screen and (max-width: 1280px){
	.wrap{
		width: 75%;
	}
}
@media only screen and (max-width: 1024px){
	.wrap{
		width: 95%;
	}
}
@media only screen and (max-width: 800px){
	.wrap{
		width: 95%;
	}
	.nav ul li a {
		font-size: 1em;
        text-decoration: none;
	}
	.form input[type="text"] {
		width: 75%;
	}
	.logo {
		padding: 2em 0 1em;
	}
	.grid p {
		font-size: 1.2em;
	}
	.top-cont h2 {
		font-size: 1.3em;
	}
	.top-cont h6 a {
		padding: 10px 15px;
	}
	.f_nav1 {
		margin-top: 3%;
	}
	.top-cont h6 {
		padding-top: 2.4em;
	}
	.middle-cont p {
		font-size: 1em;
	}
	iframe {
		width: 735px;
	}
	.social-icons {
		width: 33%;
	}
	.contact_info h2 {
		font-size: 1.3em;
	}
	.content h2 {
		font-size: 1.3em;
	}
	.contact-form input[type="submit"] {
		padding: 10px 18px;
	}
	.contact-form span label {
		font-size: 0.9em;
	}
	.camera_caption {
		top: 33%;
	}
	.social-icons {
		width: 70%;
		text-align: center;
		margin: 0 auto;
		float: none;
		padding-top: 10px;
	}
	.footer-bottom p {
		float: none;
		text-align: center;
	}
}
@media only screen and (max-width: 640px){
	.wrap{
		width:95%;
	}
	.nav ul li a {
		font-size: 0.9em;
        text-decoration: none;
	}
	.nav ul li {
		padding: 43px 12px;
	}
	.form input[type="text"] {
		width: 75%;
	}
	.logo {
		padding: 0em 0 1em;
	}
	.grid p {
		font-size: 1em;
	}
	.slider {
		margin-top: 3em;
	}
	.top-cont h2 {
		font-size: 1.3em;
	}
	.top-cont h6 a {
		padding: 10px 15px;
	}
	.f_nav1 {
		margin-top: 3%;
	}
	.top-cont h6 {
		padding-top: 2.4em;
	}
	.middle-cont p {
		font-size: 1em;
	}
	iframe {
		width: 584px;
	}
	.social-icons {
		width: 70%;
		text-align: center;
		margin: 0 auto;
		float: none;
		padding-top: 10px;
	}
	.contact_info h2 {
		font-size: 1.3em;
	}
	.content h2 {
		font-size: 1.3em;
	}
	.contact-form input[type="submit"] {
		padding: 10px 18px;
	}
	.contact-form span label {
		font-size: 0.9em;
	}
	.camera_caption {
		top: 33%;
	}
	.footer-bottom p {
		float: none;
		text-align: center;
	}
	.contact-form input[type="text"], .contact-form textarea {
		width: 97%;
	}
}
@media only screen and (max-width: 480px){
	.wrap{
		width:95%;
	}
	.nav ul li a {
		font-size: 0.9em;
	}
	.nav ul li {
		padding: 43px 6px;
	}
	.form input[type="text"] {
		width: 75%;
	}
	.logo {
		padding: 0em 0 1em;
	}
	.grid p {
		font-size: 0.8em;
	}
	.slider {
		margin-top: 3em;
	}
	.top-cont h2 {
		font-size: 1em;
	}
	.top-cont h6 a {
		padding: 5px 5px;
	}
	.f_nav1 {
		margin-top: 3%;
	}
	.top-cont h6 {
		padding-top: 2.4em;
	}
	.middle-cont p {
		font-size: 0.8em;
	}
	iframe {
		width: 431px;
		height: 215px;
	}
	.social-icons {
		width: 79%;
		text-align: center;
		margin: 0 auto;
		float: none;
	}
	.contact_info h2 {
		font-size: 1.3em;
	}
	.content h2 {
		font-size: 1.3em;
	}
	.contact-form input[type="submit"] {
		padding: 10px 18px;
	}
	.contact-form span label {
		font-size: 0.9em;
	}
	.camera_caption {
		top: 33%;
	}
	.footer-bottom p {
		float: none;
		text-align: center;
	}
	.contact-form input[type="text"], .contact-form textarea {
		width: 96%;
	}
	.f_nav1 li a {
		font-size: 0.8em;
	}
	.f_nav2 li a {
		font-size: 0.8em;
	}
	.f_nav3 li a {
		font-size: 0.8em;
	}
	.f_nav4 li a {
		font-size: 0.8em;
	}
	.f_nav5 li a {
		font-size: 0.8em;
	}
	.top-cont p {
		font-size: 0.8em;
		padding-top: 0.6em;
	}
}

h1 {
	font-weight: bold;
	color: #606060;
	font-size: 32px;
}


@media only screen and (max-width: 320px){
	.wrap{
		width:95%;
	}
	.form {
		display: none;
	}
	.nav ul li a {
		font-size: 0.9em;
	}
	.nav ul li {
		padding: 43px 6px;
	}
	.form input[type="text"] {
		width: 75%;
	}
	.logo {
		padding: 0em 0 1em;
	}
	.grid p {
		font-size: 0.8em;
	}
	.slider {
		margin-top: 3em;
	}
	.top-cont h2 {
		font-size: 1em;
	}
	.top-cont h6 a {
		padding: 5px 5px;
	}
	.f_nav1 {
		margin-top: 3%;
	}
	.top-cont h6 {
		padding-top: 2.4em;
	}
	.middle-cont p {
		font-size: 0.8em;
	}
	iframe {
		width: 280px;
		height: 140px;
	}
	.social-icons {
		width: 90%;
		text-align: center;
		margin: 0 auto;
		float: none;
	}
	.contact_info h2 {
		font-size: 1.3em;
	}
	.content h2 {
		font-size: 1.3em;
	}
	.contact-form input[type="submit"] {
		padding: 10px 18px;
	}
	.contact-form span label {
		font-size: 0.9em;
	}
	.camera_caption {
		top: 33%;
	}
	.footer-bottom p {
		float: none;
		text-align: center;
	}
	.contact-form input[type="text"], .contact-form textarea {
		width: 94%;
	}
	.f_nav1 li a {
		font-size: 0.8em;
		margin-right: 6PX;
	}
	.f_nav2 li a {
		font-size: 0.8em;
		margin-right: 6PX;
	}
	.f_nav3 li a {
		font-size: 0.8em;
		margin-right: 6PX;
	}
	.f_nav4 li a {
		font-size: 0.8em;
		margin-right: 6PX;
	}
	.f_nav5 li a {
		font-size: 0.8em;
		margin-right: 6PX;
	}
	.top-cont p {
		font-size: 0.8em;
		padding-top: 0.6em;
	}
}